.instructors {
  min-height: 515px;
}

.instructors__wrapper {
  position: relative;
  max-width: 1270px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.instructors__container {
  display: flex;
}

.instructors__title {
  margin-left: 57px;
  margin-bottom: 2px;
  font-size: 49px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.5px;
  font-family: "Bebas Neue", "Arial", sans-serif;
}

.instructors__list {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instructors__list img {
  display: block;
}

.instructors__item {
  position: relative;
  width: 260px;
  min-height: 294px;
  outline: none;
}


.instructors__item-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 260px;
  min-height: 294px;
  box-shadow: 1px 1px 15px 1px #e6eaef;
  z-index: 100;
}

.instructors__item:hover .instructors__name {
  bottom: 215px;
  z-index: 20;
}

.instructors__item:hover .instructors__name--aleksandr {
  left: 57px;
}

.instructors__item:hover .instructors__item-wrapper {
  display: block;
}

.instructors__name {
  position: absolute;
  bottom: 22px;
  left: 78px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  color: #ffffff;
}

.instructors__name--aleksey,
.instructors__name--aleksandr {
  left: 69px;
}

.instructors__item-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 294px;
  background-color: #102654;
  opacity: 89%;
  z-index: 10;
}

.instructors__item-title {
  position: absolute;
  top: 59px;
  left: 104px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #b6bdcc;
}

.instructors__item-description {
  position: absolute;
  top: 132px;
  left: 71px;
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

.instructors__item-description li {
  width: 159px;
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .instructors {
    min-height: 477px;
  }

  .instructors__wrapper {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 680px;
    max-width: 680px;
  }

  .instructors__title {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -9px;
    font-size: 42px;
  }

  .instructors__item,
  .instructors__list img {
    width: 268px;
    outline: none;
  }

  .instructors__item {
    margin-left: -1px;
    margin-right: 30px;
  }

  .instructors__item:nth-child(2n) {
    margin-right: 50px;
  }

  .instructors__item-wrapper {
    width: 268px;
  }

  .instructors__item-wrapper::after {
    width: 268px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .instructors {
    min-height: 418px;
  }

  .instructors__wrapper {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 290px;
    max-width: 290px;
  }

  .instructors__title {
    width: 101px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -7px;
    font-size: 32px;
  }

  .instructors__list {
    justify-content: center;
    width: 275px;
  }

  .instructors__item,
  .instructors__list img {
    width: 226px;
    height: 274px;
    min-height: 274px;
    text-align: center;
    outline: none;
  }

  .instructors__item-wrapper::after {
    width: 226px;
    min-height: 274px;
    box-shadow: 1px 1px 15px 1px #e6eaef;
  }

  .instructors__item-wrapper {
    width: 226px;
    height: 274px;
  }

  .instructors__item-title {
    top: 49px;
    left: 84px;
  }

  .instructors__item-description {
    top: 122px;
    left: 47px;
    text-align: left;
  }

  .instructors__item:hover .instructors__name--aleksandr {
    left: 37px;
    bottom: 205px;
  }

  .instructors__name {
    left: 65px;
  }

  .instructors__name--aleksandr {
    left: 45px;
  }

  .instructors__name--aleksey {
    left: 55px;
  }

  .instructors__list .slick-arrow.slick-next {
    right: -15px;
  }
}
