.promo-event {
  min-height: 750px;
  margin-top: -16px;
  background-color: #ffffff;
}

.promo-event__wrapper {
  width: 1160px;
  padding-top: 77px;
  margin-left: auto;
  margin-right: auto;
}

.promo-event__title {
  width: 113px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  font-size: 49px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.5px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: #102654;
}

.promo-event__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

.promo-event__item {
  width: 518px;
  padding-left: 28px;
  height: 197px;
  margin-bottom: 40px;
  border: 7px solid black;
  border-image: url("../img/backgorund-border.jpg");
  border-image-slice: 3;
}

.promo-event__item--main {
  position: absolute;
  top: 0;
  left: 0;
  width: 514px;
  height: 462px;
  padding-left: 46px;
  border: none;
  background-color: #ed0233;
  display: flex;
}

.promo-event__container {
  width: 235px;
  height: 462px;
  background-color: #ed0233;
}

.promo-event__item-image {
  width: 280px;
  background-image: url("../img/background-promo-event.jpg");
  background-repeat: no-repeat;
  background-color: #497be4;
}

.promo-event__item-title {
  margin-top: 18px;
  margin-bottom: 3px;
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
  color: #1c3374;
}

.promo-event__item-title--main {
  margin-top: 34px;
  margin-bottom: 33px;
  font-size: 28px;
  font-weight: 700;
  line-height: 156%;
  color: #ffffff;
}

.promo-event__item--main .promo-event__item-number {
  margin-top: 8px;
  display: block;
  font-size: 70px;
  color: #ffffff;
}

.promo-event__item-description {
  margin-top: 3px;
  margin-bottom: 67px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #1c3374;
}

.promo-event__item-space {
  margin-left: 4px;
}

.promo-event__item--main .promo-event__item-description {
  width: 189px;
  margin-bottom: 186px;
  font-size: 18px;
  color: #ffffff;
}

.promo-event__item-link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.7px;
  color: #1c3374;
}

.promo-event__item-link:hover {
  color: #aa042e;
}

.promo-event__item-link:hover .promo-event__item-line {
  background-color: #aa042e;
}

.promo-event__item--main .promo-event__item-link {
  font-size: 14px;
  color: #ffffff;
}

.promo-event__item--main .promo-event__item-link:hover {
  color: #003d85;
}

.promo-event__item--main .promo-event__item-link:hover .promo-event__item-line {
  background-color: #003d85;
}

.promo-event__item-line {
  position: absolute;
  top: 15px;
  left: 0;
  width: 68px;
  height: 1px;
  background-color: #1c3374;
}

.promo-event__item--main .promo-event__item-line {
  top: 17px;
  width: 79px;
  background-color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .promo-event {
    min-height: 930px;
    margin-top: -211px;
  }

  .promo-event__wrapper {
    width: 678px;
    padding-top: 64px;
  }

  .promo-event__title {
    width: 96px;
    font-size: 42px;
    margin-bottom: 41px;
  }

  .promo-event__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .promo-event__item {
    width: 282px;
  }

  .promo-event__item--main {
    position: static;
    width: 678px;
    height: 462px;
    padding-left: 46px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .promo-event__container {
    width: 233px;
  }

  .promo-event__item-image {
    width: 399px;
    background-image: url("../img/background-promo-event-tablet.jpg");
  }

  .promo-event__item--month-free .promo-event__item-description {
    width: 155px;
    margin-bottom: 45px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .promo-event {
    min-height: 1050px;
    margin-top: -211px;
  }

  .promo-event__wrapper {
    width: 290px;
    padding-top: 43px;
  }

  .promo-event__title {
    width: 73px;
    font-size: 32px;
    margin-bottom: 43px;
  }

  .promo-event__list {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .promo-event__item {
    width: 276px;
    padding-left: 0;
    margin-bottom: 30px;
  }

  .promo-event__item--main {
    position: static;
    flex-direction: column;
    width: 290px;
    height: 598px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .promo-event__item-title {
    width: 191px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .promo-event__item-title--main {
    text-align: center;
    width: 142px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    margin-bottom: 28px;
  }

  .promo-event__item--sale .promo-event__item-title {
    width: 130px;
  }

  .promo-event__item-description {
    text-align: center;
    width: 163px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
  }

  .promo-event__item--main .promo-event__item-description {
    text-align: center;
    width: 189px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .promo-event__item-link {
    display: block;
    width: 68px;
    margin-left: auto;
    margin-right: auto;
  }

  .promo-event__item--main .promo-event__item-link {
    display: block;
    width: 79px;
    margin-left: auto;
    margin-right: auto;
  }

  .promo-event__container {
    width: 290px;
    height: 299px;
  }

  .promo-event__item-image {
    width: 290px;
    height: 299px;
    background-size: cover;
  }
}
